/* Sets the base font for the entire document */
body {
    font-family: 'Inter', sans-serif;
}

/* Hides the default file input button ("Choose File") */
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

/* Styles a custom button to replace the default file input button */
.custom-file-input::before {
    content: 'Select file';
    display: inline-block;
    background: #4A5568;
    color: white;
    border-radius: 0.375rem;
    padding: 0.5rem 1rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s;
}

/* Style for the custom button on hover */
.custom-file-input:hover::before {
    background: #2D3748;
}

/* Style for the custom button when it's active (clicked) */
.custom-file-input:active::before {
    background: #1A202C;
}
